doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/mdbootstrap/css/mdb.min.css')
    script(type='text/javascript', src='/mdbootstrap/js/mdb.min.js')
    
  body
    block content
